body {
  font-family:  verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: #303050;
}

h1, h1 a {
  font-size: 26px;
  font-weight: bold;
  background-color: transparent;
  color: #303050;
  padding: 0px;
  margin: 0px;
}

h2, h2 a {
  font-size: 38px;
  font-weight: bold;
  line-height: 16px;
  color: #003050;
  background-color: transparent;
}

h2.titletext {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  border-bottom: 2px solid #303050;
  color: #303050;
  background-color: transparent;
}

h2.titletext a {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
  color: #303050;
}

p {
  font-size: 11px;
  font-weight: normal;
  /*padding-left: 15px;*/
  line-height: 15px;
  color: #303050;
  background-color: transparent;
}

a {
  font-size: 11px;
  line-height: 15px;
  font-weight: normal;
  text-decoration: underline;
  color: #303050;
  background-color: transparent;
}

a:visited {
  text-decoration: underline;
  color: #303050;
  background-color: transparent;
}

a:hover { 
  text-decoration: underline;
  color: #8498db;
  background-color: transparent;
}

a.navlink {
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  color: #303050;
  background-color: transparent;
}

a.navlink:visited {
  text-decoration: none;
  color: #303050;
  background-color: transparent;
}

a.otherlink {
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  text-decoration: none;
  color: #303050;
  background-color: transparent;
}

a.otherlink:visited {
  text-decoration: none;
  color: #303050;
  background-color: transparent;
}

a.otherlink:hover {
  text-decoration: underline;
}

li {
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  /*padding-bottom: 7px;*/
  color: #303050;
  background-color: transparent;
}


.wikilogo {
  margin: 0;
  /*  padding: 0.25em 4mm 0.25em 4mm;*/
}

.wikilogo a {
  color: rgb(0,0,0);
  background-color: transparent;
  text-decoration: none;

  /* For MSIE */
  font-size: 110%;  
  font-weight: bold;
  font-style: italic;
}

/* For fully standards-compliant user agents */
.wikilogo > a {
  font-size: 138%;
}

.wikilogo span {
  color: rgb(255,255,255);
  background-color: transparent;
  font-weight: normal;
}

.wikilogo #tag {
  color: rgb(255,255,255);
  font-size: small;
  padding: 0.25em 4mm 0.25em 4mm;
}


.action {
  padding: 1px 1px 3px 1px;
}

.searchheader {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  padding-left: 5px;
  background-color: #f9f9f9;
}

.searchheader a {
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  padding-left: 3px;
  color: #303050;
  background-color: #f9f9f9;
  text-decoration: none;
}

.searchcell {
  font-size: 9px;
  font-weight: normal;
  line-height: 10px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 9px;
  color: #303050;
  background-color: #f9f9f9;
}

#wikileft {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  margin:5px;
  color: #303050;
  background-color: #f9f9f9;
}
#wikileft h1, #wikileft h1 a {
  font-size: 13px;  
  font-weight: bold;
  line-height: 34px;
  margin: 5px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-top: 1px;
  color: #303050;
}
#wikileft ul {
  margin-left:0px; 
  padding-left:6px; 
  list-style-type:none;
}
#wikileft li, #wikileft li a { 
  padding-bottom: 4px;
  padding-left:0px;
}
#wikileft a {
  font-size: 12px;
  line-height: 19px;
  margin: 10px;
  background-color: transparent;
  text-decoration: none;
}
#wikileft a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #8498db;
}

#wikiright {
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  margin:5px;
  color: #303050;
  background-color: #f9f9f9;
}
#wikiright h1, #wikiright h1 a {
  font-size: 14px;  
  font-weight: bold;
  line-height: 34px;
  margin: 5px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-top: 7px;
  color: #303050;
}
#wikiright ul {
  margin-left:0px; 
  padding-left:6px; 
  list-style-type:none;
}
#wikiright li, #wikiright li a { 
  padding-bottom: 1px;
  padding-left:0px;
}
#wikiright a {
  font-size: 11px;
  line-height: 17px;
  margin: 10px;
  background-color: transparent;
  text-decoration: none;
}
#wikiright a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #8498db;
}

.navinput {
  vertical-align: middle;
  color: #303050;
  background-color: #dfdfdf;
  width: 120px;
}

.editinput, .userauthinput { 
  vertical-align: middle;
  color: #303050;
  background-color: #f9f9f9;
  margin-top: 5px;
  margin-bottom: 5px;
}

.editbutton, .userauthbutton {
  position: relative;
  top: 5px;
  background-color: #f9f9f9;
  color: #303050;
  font-size: 10px;
  font-weight: normal;
  vertical-align: middle;
}

.attachinput {
  vertical-align: middle;
  color: #303050;
  background-color: #f9f9f9;
}

.navbutton {
  position: relative;
  left: 3px;
  top: 3px;
  width: 30px;
  background-color: #CCCFD6;
  color: #303050;
  font-size: 10px;
  font-weight: normal;
  vertical-align: middle;
}

.update {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  color: #303050;
  background-color: #D8DBE5;
  padding: 5px;
}

.copyright {
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  color: #303050;
  background-color: #D8DBE5;
  padding: 5px;
}

.diffbox { 
  font-size: 18px;
  font-weight: normal;
}
