

P {color:#000000; font-family: verdana, arial, geneva; font-size: 12px; line-height: 24pt;}
H1  {color:#666; font-family:Verdana, Arial; font-size: 12px;}}

H2  {}

H3  {}

A  {color:#3963A5; text-decoration:none;}

A:Visited  {color:#3963A5}

A:Active  {color:#000000}

A:Hover  {color:#930;text-decoration:underline;}

BODY  {background-color : #ffffff;}
.paper {color:#000000; font-family: verdana, arial, geneva; font-size: 11px; line-height: 20pt;} 
.notes {color:#000000; font-family: verdana, arial, geneva; font-size: 9px; line-height: 18pt;} 
.table {color:#000000; font-family: verdana, arial, geneva; font-size: 9px; line-height: 18pt;} 
.quote {color:#000000; font-family: verdana, arial, geneva; font-size: 10px; line-height: 14pt;} 





